* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
.container{
    background-color: #f5e8d1;
    font-family: monospace;
    height: 100%;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    position: fixed;
    background-color: #dbc19d;
    border: 4px solid #622d0f;
}
.home a li{
    height: 100%;
    float: right;
    padding-right: 10px;
    margin:-20px 5px; 
    color: #622d0f;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}
#titulo{
    margin-left: 5px;
    color: #622d0f;
    font-weight: bold;
    font-size: 20px;
}
img {
    width: 100px;
    height: 40px;
    position: relative;
    left: 65px;
}

.carrinho-pedido{
    position: relative;
    top: 85px;
    left: 400px; 
}
.foods{    
    border: 1px solid rgb(216, 211, 211);
    width: 50%;
    padding: 15px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.total{    
    border: 1px solid rgb(216, 211, 211);
    width: 50%;
    padding: 15px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.btn-avancar{
    border-radius: 1%;
}
.btn-avancar a{
    color: #622d0f;
    font-weight: bold;
    background-color: #f5e8d1;
    text-decoration: none;
}
.btn-avancar:hover{
    cursor: pointer;
}
.titulo-lanche{
    color: #622d0f;
    font-weight: bold;
}
.descricao-lanche{
    color: grey;
}
.preco-lanche{
    color: grey;
    font-weight: bold;
}
.quantidade-itens{
    margin-left: 30px;
}
.titulo-total{
    color: #622d0f;
    font-weight: bold;
}
.preco-total{
    color: grey;
    font-weight: bold;
}
.btn-adicionar{
    background-color: #f5e8d1;
    font-weight: bold;
    border-radius: 1%;
    color:#622d0f;
    font-size: 18px;
    position: relative;
    left: 280px;
}
.btn-adicionar:hover{
    cursor: pointer;
}

.footer{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: grey; 
    align-content: flex-end;
    margin-top: 350px;
    margin-left: 200px;
}
